<div class="dropdown">
  <a
    routerLink="#"
    class="d-flex align-items-center py-2 px-2 dropdown-toggle link-nav-menu"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    CATEGORIAS
  </a>
  <ul class="dropdown-menu text-small shadow">
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >WebCam</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >Notebook</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >Smartfone</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >VideoGame</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >Monitor</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >Jogo</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >Celular</a
      >
    </li>
    <li>
      <a class="dropdown-item" routerLink="/category/a" aria-current="page"
        >Roteador</a
      >
    </li>
  </ul>
</div>
