<div>
  <h2>Características do produto</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, illo
    dolore, impedit autem facere corrupti doloremque culpa, odio quaerat
    asperiores iure nam odit. Possimus deleniti magnam reprehenderit at quam
    fugit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit maiores
    possimus ad, accusantium nisi dolorum ducimus maxime rerum nostrum delectus
    deserunt ipsam eaque porro molestiae quos quas quod adipisci minima.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius
    accusamus sed temporibus itaque voluptates nobis velit dicta corrupti nihil
    debitis natus, harum iure vero quod laborum voluptatibus illum nemo?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius
    accusamus sed temporibus itaque voluptates nobis velit dicta corrupti nihil
    debitis natus, harum iure vero quod laborum voluptatibus illum nemo?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius
    accusamus sed temporibus itaque voluptates nobis velit dicta corrupti nihil
    debitis natus, harum iure vero quod laborum voluptatibus illum nemo?
  </p>
</div>
