<div>
  <ul class="nav me-auto">
    <li class="nav-item">
      <a routerLink="/category/monitor" class="nav-link px-2 link-nav-menu">
        MONITORES
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/category/notebook" class="nav-link px-2 link-nav-menu">
        NOTEBOOKS
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/category/game" class="nav-link px-2 link-nav-menu">
        GAMES
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/category/smartfone" class="nav-link px-2 link-nav-menu">
        SMARTFONE
      </a>
    </li>
  </ul>
</div>
