<div>
  <a
    routerLink="#"
    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <div class="d-flex align-items-end">
      <div>
        <div>
          <img
            src="../../../../assets/login-box-line-white.svg"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle d-flex"
          />
        </div>
      </div>
    </div>
  </a>
  <ul class="dropdown-menu text-small shadow">
    <li>
      <a class="dropdown-item" routerLink="/login"> Fazer Login </a>
    </li>
    <hr />
    <li>
      <a class="dropdown-item" routerLink="/register"> Cadastre-se! </a>
    </li>
  </ul>
</div>
