.searchbar{
  position: absolute;
  max-width: 35%;
  top:2rem
}
.lista{
   flex:auto;
   color: #FFF;
   justify-content: center;
   position: relative;
   background-color: rgba(255, 255, 255, 0.5);
   z-index: 1;
   border-radius: 8px;
   top: 10px;
   max-width: fit-content;
   padding: 0.2rem;
}

.lista li {
  list-style-type:none;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0.5rem;
}
.lista li:hover {
 background-color: rgba(255,101,0, 0.8)

}

.lista li a{
  text-decoration: none;
  color: #111;
}

.lupa{
background-color: #FFF;
padding: 0.5rem;
border: solid 1px grey ;
border-radius: 0.6rem;
box-shadow: 1px 1px black;
margin-left: 3px;
}

.lupa:hover{
  background-color: #ff6500;
  box-shadow: 1px 1px #a44e08;
  }
