<div class="card border-primary card-back-style shadow">
  <div class="d-flex container justify-content-end CardIconDiv">
    <div>icone</div>
  </div>

  <img
    class="card-img-top card-img-dimensions"
    src="../../../../assets/prodimages/product125.png"
    alt=""
  />
  <div class="card-body d-grid gap-2 card-body-custom">
    <h5>Monitor</h5>
    <h6 class="card-text text-center">R$ 15,50</h6>
    <a
      class="btn btn-primary card-button-color"
      id="1310313"
      key="1301315"
      routerLink="/product/1231132"
    >
      Comprar
    </a>
  </div>
</div>
