<div class="row login-div">
  <div
    class="col-xxl-6 offset-xxl-3 col-md-8 offset-md-2 col-sm-12 offset-sm-0 col-xs-12 offset-xs-0"
  >
    <div class="login-form-div" role="document">
      <div class="rounded-4 shadow">
        <div class="p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Fazer login</h1>
        </div>

        <div class="p-5 pt-0">
          <form>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control rounded-3"
                id="floatingInput"
                placeholder="Ex.: email@mail.com"
              />
              <label htmlFor="floatingInput">Digite seu email</label>
            </div>
            <div class="form-floating mb-1">
              <input
                type="password"
                class="form-control rounded-3"
                id="floatingPassword"
                placeholder="Digite sua senha"
              />
              <label htmlFor="floatingPassword"> Digite a sua senha </label>
            </div>
            <div class="texto-link-div mb-2">
              <a routerLink="" class="texto-link"> Esqueceu a sua senha? </a>
            </div>
            <button
              class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
              type="submit"
              value="enviar"
            >
              Continuar
            </button>

            <h2>COLOCAR ALERT CONDICIONAL</h2>
          </form>
          <hr class="my-4" />
          <h2 class="fs-5 fw-bold mb-3">ou entrar com...</h2>
          <button
            class="w-100 py-2 mb-2 btn rounded-3 btn-google"
            type="submit"
          >
            <img src="../../../../assets/login-google.svg" alt="" />
            Login com Google
          </button>
          <a routerLink="/register" class="texto-link">
            Não tem uma conta?Cadastre-se
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
