<div class="px-2 py-3">
  <div class="row g-3 container-card">
    <div
      class="col-sm-6 col-md-4 col-lg-3"
      id="1"
      *ngFor="let card of ProductDataReceived"
    >
      <div class="card border-primary card-back-style shadow">
        <div class="d-flex container justify-content-end CardIconDiv">
          <div>icone</div>
        </div>

        <img
          class="card-img-top card-img-dimensions"
          src="{{ card.image }}"
          alt=""
        />
        <div class="card-body d-grid gap-2 card-body-custom">
          <h5>{{ card.name }}</h5>
          <h6 class="card-text text-center">
            {{ card.price | currency : "BRL" }}
          </h6>
          <a
            class="btn btn-primary card-button-color"
            id="{{ card._id }}"
            routerLink="/product/{{ card._id }}"
          >
            Comprar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
