<div class="px-2 py-3">
  <div class="row g-3 container-card">
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id="1">
      <app-card-item></app-card-item>
    </div>
  </div>
</div>
