@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

}

#root {
  height: 100%;
}
body{
  background-color:#08284c;/*08284c*/
  padding: 0;
  margin: 0;
}
